@media screen and (max-width:700px) {
    header .container {
    display: flex;
    flex-direction: column;
    }

    .button {
    margin-top: 5px;
    width: 300px;
    }
    .title a {
        font-size: 22px;
    }
    .title {
        margin-top: 25px;
    }
    .subtitle {
        margin-top: 5px;
    }
    .main {
        background-position: center;
    }
}
@media screen and (min-width:1000px) {
    .sinopse {
    width: 50%;
    }  
}